/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #fff;
}

.container {
	padding: 0;
	margin-top: 40px;
}

.footer {
	margin-top: 60px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #f26c33;
}
/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
  border-radius: 50%;
}

.center-div
{
     margin: 0 auto;
  text-align: center;
}